 body{
    margin-top: 70px;
 }
 .profile-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #ffffff;
  }
  .profile-pic {
    width: 210px;
    height: 200px;
    border-radius: 15px;
    margin-top: -65px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 8px #888888;
  }
  .username {
    font-size: 1.5rem;
    font-weight:600;
    color: #1d1f22;
  }
  .bio {
    font-size: 1rem;
    font-weight: 500;
    color:#a4b0be;
    margin-bottom: 10px;
    
  }
  .stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stat {
    text-align: center;
  }
  .stat h6 {
    margin-bottom: 5px;
    font-weight:400;
    color: #a4b0be;
  }
  .stat p {
    margin: 0;
    color:#393f4c;
    font-weight: 700;
  }
.buttons{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.buttons .btn1{
    padding: 5px 35px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    border: none;
    text-decoration: none;
    background-color: #ef5777;
}
.buttons .btn2{
    padding: 5px 35px;
    border-radius: 5px;
    color: #a4b0be;
    font-weight: 600;
    border: 2px solid #a4b0be;
    text-decoration: none;
    background-color:#fff;
}
.buttons .btn3{
    border: none;
    text-decoration: none;
    border-radius: 5px;
}
